.card {
    position: relative;
    display: block;
    margin: var(--padding-far);
    width: 300px;
    padding: 1rem;
    vertical-align: top;
    border: 1px solid var(--light-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    outline: 2px solid transparent;

    h2 {
        font-size: 1.2rem;
        color: var(--primary-color);
    }

    .tags {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: var(--secondary-color);
    }
}

.card:hover {
    box-shadow: var(--box-shadow-hover);
    outline: 2px solid var(--accent-color);
    background-color: var(--light-color);
}