.column {
    position: relative;

    min-height: 100px;
}
.column-left {
    width: 400px;
}
.column-right {
    .colNarrow {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
}
