/* Page Content */
page {
    background-color: white;
    padding: 2rem;
    /*margin-bottom: 2rem;*/
    /*box-shadow: var(--box-shadow);*/
    transition: var(--transition);

    .container {
        padding-left: 0;

        .containerInner {
            padding-left:1rem;

            border-left: 4px solid var(--accent-color);

            .indicatorOpen {
                position: absolute;
                left: -8px;
                top: 0;
                font-size: 32px;
                color: var(--accent-color);
                transform: rotate(0deg);
            }
        }
    }

    .container.open {

        .containerInner {
            border-left-width: 20px;

            .indicatorOpen {
                left: 2px;
                color: var(--light-color);
                transform: rotate(90deg);
                font-size:20px;
            }
        }
    }

    .container.collapsable {
        h3 {
            cursor: pointer;
        }
        h3:hover {
            color: var(--accent-color);
        }
    }

    h2 {
        color: var(--primary-color);
        margin-bottom: 2rem;
        font-size: 2rem;
        border-bottom: 2px solid var(--secondary-color);
        padding-bottom: 0.5rem;
    }

}
