/* Input Stile */
.container-checkbox {
    position: relative;
    width: 720px;

    .legendInput {
        display: inline-block;
        width: 120px;
        font-weight: 600;
        color: var(--primary-color);
        vertical-align: top;
    }

    .checker {
        position: relative;
        display: inline-block;
        border: 2px solid var(--dark-color);
        overflow: hidden;
        border-radius: 10px;
        height: 30px;
        width: 60px;
        background-color: var(--unchecked-color);
        cursor: pointer;

        .schieber {
            position: absolute;
            top: 0;
            left: 0;
            width: 26px;
            height: 26px;
            background-color: var(--light-color);
            border: 2px solid var(--dark-color);
            border-radius: 8px;
        }

        .legend {
            position: absolute;
            font-size:14px;
            color: var(--light-color);
        }
        .legendOn {
            left:2px;
            top:-30px;
        }

        .legendOff {
            right:2px;
            top:2px;
        }
    }

    .checker.checked {
        background-color: var(--checked-color);

        .schieber {
            left: calc(60px - 30px);
        }

        .legendOn {
            top:2px;
        }

        .legendOff {
            top:-30px;
        }
    }

}
