/* Input Stile */
.container-range {
    position: relative;
    width: 720px;

    .interact {
        display: none;
        position: fixed;
        left:0;
        top:0;
        bottom:0;
        right:0;
        /*background-color:hsla(0, 20%, 80%, 0.5);*/
        z-index: 10000;
    }
    .interact.is-interacting {
        display: block;
    }

    .legendInput {
        display: inline-block;
        width: 120px;
        font-weight: 600;
        color: var(--primary-color);
        vertical-align: top;
    }

    .slider-rail {
        position: relative;
        border: 1px solid var(--border-color);
        background-color: var(--light-color);
        display: inline-block;
        width: 226px;
        height: 20px;
        border-radius: 10px;
    }

    .slider-thumb {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--accent-color);
        cursor: pointer;
    }
}
