/* Content Stile */
.content {
    outline: 2px solid var(--dark-color);
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    padding-top: .5em;
    margin-bottom: 1rem;
    background-color: #f9f9f9;

}

.content.edit {
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    height: 50px;
    overscroll-behavior: none;
}

.content.edit.open {
    /*height: auto;*/

    .content-opener {
        transform: rotate(90deg) scale(60%) translateY(32px);
        color: #fff;
    }

    .dragger {
        /*top: 52px;*/
    }

    .index {
        color: #fff;
        top: 35px;
        /*border-right-color:  #003;*/
        /*border-bottom-color:  #003;*/
    }
}

.content-opener {
    position: absolute;
    cursor: pointer;
    left: 16px;
    font-size: 40px;
    top: -15px;
    z-index: 1000;
}


.dragger {
    position: absolute;
    left: 0;
    top: 0px;
    background: var(--dark-color);
    width: 20px;
    bottom: 0;
    /*border-radius: 0 10px 0 0;*/
}

.index {
    position: absolute;
    color: #fff;
    width: 20px;
    height: 40px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 0 0 10px;
    left: 0;
    top: 0;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 7px;
    margin-right: 0.5rem;
    z-index: 10;
    pointer-events: none;
}

.type.nextToIndex {
    position: relative;
    margin-left: 35px;
    margin-bottom: 1rem;
}

.btn-delete {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--warning-color);
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 0 0 0 5px;
    cursor: pointer;
    z-index: 1000;
}

.btn-delete:hover {
    background-color: var(--secondary-color);
    color: white;
    width: 40px;
    height: 40px;
}