.description {
    position: relative;
    display: block;
    margin-top: var(--padding-default);
    margin-bottom: var(--padding-default);
}

.link-internal-structured-page {
    position: relative;
    margin-left: var(--padding-far);
    cursor: pointer;
}

.link-internal-structured-page .legend:hover {
    color: var(--accent-color);
    font-weight: bold;
}

.add-image {
    position: relative;
    display: inline-block;
    width: 180px;
    padding: var(--padding-far);
    margin: var(--padding);
    border: 2px solid var(--accent-color);
    border-radius: var(--padding-far);
    background-color: var(--white);

    cursor: pointer;

    h3 {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 16px;
        margin-bottom: var(--padding-far);
    }

    .img {
        height: 130px;
        width: 160px;
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: var(--padding-far);
        background-size: cover;
        background-position: center center;
        border-radius: var(--padding-far);
    }
}

.add-image:hover {
    width: 200px;
    background-color: var(--accent-color);

    h3 {
        color: var(--white);
    }

    .img {
        width: 180px;
    }
}