/* Input Stile */
.container-input {
    position: relative;


    .legendInput {
        display: inline-block;
        width: 120px;
        font-weight: 600;
        color: var(--primary-color);
        vertical-align: top;
    }


    .input {
        display: inline-block;
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: var(--border-radius);
        min-width: 600px;
        transition: var(--transition);
        vertical-align: top;
    }

    .input:focus {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
    }

    .input:hover {
        border-color: var(--accent-color);
    }

    .clear-button {
        position: absolute;
        right: 0;
        bottom: 12px;
        padding: 0;
        width: 23px;
        height: 22px;
        background-color: transparent;
        color: var(--primary-color);
        /*outline: 1px solid #000;*/
        border-radius: 5px;
    }

    .clear-button:hover {
        background-color: var(--light-color);
        color: var(--primary-color);
    }
}

.container-input.nextToIndex {
    top: -5px;

    .legendInput {
        width: 45px;
    }
}

.column {
    .input {
        /*width: 350px;*/
        width: calc(100% - 120px);
    }
}

/* Input Stile */
.column-left {
    .container-input {
        .input {
            min-width: 330px;
        }
    }
}